/__pycache__
/.vscode
/datamachine_temp
/deploy.ipynb
/dist
/execute.ipynb
/module.ipynb
/output.html
/src/__pycache__
/src/datamachine/__pycache__
/src/datamachine.egg-info
/test.py
/test2.ipynb
/testing.ipynb